
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 1.25rem; 
    font-family: 'PT Sans', sans-serif;
}
/*--------------All_pages--------------------------*/

html {
    height: 100%;
}
body {
    height: 100vh;

}
header{
    background-color: #84b6f4;
    padding: 10px;
}
header .logo_header{
    display: flex;
    justify-content: center;
}
header .logo_header img {
    display: flex;
    max-width: 100%;
    transition: all 0.3s;
    background-color: #84b6f4;
    justify-content: center;
    align-items: center;
}
header .header_menu{
    margin: 0px auto;
    margin: 10px;
}
header .header_menu #check-menu{
    display: none;
}
header .header_menu .menu_icon label{
    display: flex;
    width: 48px;
    height: 48px;
    cursor: pointer;
    padding: 20px;
    align-items: center;
    
}
header .header_menu .nav-link{
    width: 100%;
    background-color: #84b6f4;
    position: absolute;
    display: none;
    right: 0;
}

header .header_menu .nav-link ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    gap: 10px;
    list-style: none;
}
header .header_menu .nav-link li{
    display: flex;
    border-radius: 7px ;
    padding:  5px 7px;
    margin: 10px;
    background-color: #b0c2f2;
    justify-content: center;
    
}
header .header_menu .nav-link a {
    text-decoration: none;
    font-weight: bold;
    color: black ;
    font-size: 1.75rem;
}
header .header_menu .nav-link li:hover{
    transition: 0.7s;
    background-color: #7b9bf1;
}
#check-menu:checked ~ .nav-link {
    display: flex;
    width: 100%;
    height: auto;
}
main {
    display: flex;
    flex-direction: column;
    background-color: #b0c2f2;
    align-content: center;
    min-height: 100%;
    padding: 20px;
}
footer{
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    background-color: #84b6f4;
    align-content: center;
    justify-content: center;
    
}
footer .redes-link ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    list-style: none;
    padding: 10px;
}
footer .redes-link li{
    display: flex;
    justify-content: center;
    background-color: #b0c2f2;
    border-radius: 10px ;
    padding:  5px 7px;
    margin: 10px;
   
}
footer .redes-link li:hover{
    transition: 0.7s;
    background-color: #7b9bf1;
    cursor: pointer;
}
footer .redes-link a{
    text-decoration: none;
    font-weight: bold;
    color: black ;
    font-size: 1rem;
}

footer h4{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-weight: lighter;
    font-size: 0.6rem;

}

/*version para ordenador*/
@media (min-width:1000px) {
    header .header_menu .nav-link ul{
        flex-direction: row;
        justify-content: center;
    align-items: center;
    gap: 5px;
    }

    header .header_menu .nav-link li{
        flex-grow: 1;
        padding: 5px 5px;   
    }
    footer .redes-link ul{
        flex-direction: row;
    }
    footer .redes-link li{
        flex-grow: 1;
        padding: 5px;
    }
    footer h4{
        justify-content: end;
    }
}
/*--------------page_index--------------------------*/

.sec_noticias{
    margin: 0px auto;
}
.sec_noticias .title {
    display: flex;
    width: 100%;
    justify-content: center;
      
}
.sec_noticias .title h2{
    font-size: 4.0rem;
    text-decoration: underline ;
    color: black;
    font-weight: bold;  
}
.sec_noticias .sub_titulo {
    font-size: 1.2rem;
    text-decoration: underline ;
    color: black;
    font-weight: bold;    
    padding-left: 10px;
}
.sec_noticias article{
    padding-top: 20px;
    padding-left: 20px;
    justify-items: center;
    margin: 10px;
}
.sec_noticias .nuevos_avances .bloque{
    display: flex;
    padding: 10px;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}
.sec_noticias .nuevos_avances .bloque .parrafo{
    display: flex;
    justify-content: center;
}
.sec_noticias .nuevos_avances .bloque .parrafo p{
    font-size: 0.8rem;
    font-weight: 500;
    text-align: justify;
}

.sec_noticias .nuevos_avances .bloque .imagen {
    display: flex;
    justify-content: center;
}


.sec_noticias .nuevos_avances .bloque .imagen img{
    
    height: 300px;
    width: 300px;

}
.sec_noticias .ultimo_lanzamiento .bloque{
    display: flex;
    padding: 10px;
    align-content: center ;
    justify-content: center;
    flex-direction: column;
   
}
.sec_noticias .ultimo_lanzamiento .bloque .parrafo{
    display: flex;
    justify-content: center;
}
.sec_noticias .ultimo_lanzamiento .bloque .parrafo p{
    font-size: 0.8rem;
    font-weight: 500;
    text-align: justify;
}
.sec_noticias .ultimo_lanzamiento .bloque .imagen {
    display: flex;
    justify-content: center;
}
.sec_noticias .ultimo_lanzamiento .bloque .imagen img{
    height: 300px;
    width: 300px;


}
/*version para ordenador*/

@media (min-width:1000px) {
    
    .sec_noticias .nuevos_avances .bloque{
        flex-direction: row;
    }
    .sec_noticias .ultimo_lanzamiento .bloque{
        flex-direction: row;
    }
    .sec_noticias .nuevos_avances .bloque .parrafo{
        padding-right: 40px;
    }
    .sec_noticias .ultimo_lanzamiento .bloque .parrafo{
        padding-right: 40px;
    }


}

/*--------------page_nosotros--------------------------*/

.informacion_nosotros{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.informacion_nosotros .title{
    display: flex;

}
.informacion_nosotros .title h2{
    font-size: 4rem;
    text-decoration: underline ;
    color: black;
    font-weight: bold;    
}
.informacion_nosotros .texto_nosotros{
    display: flex;
    padding: 20px;
    justify-items: center;
   
}
/*--------------page_redes--------------------------*/
.redes{
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
 .title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
}
 .title h2{
    text-align: center;
    font-size: 4rem;
    text-decoration: underline ;
    color: black;
    font-weight: bold;    
    padding-left: 10px;
}
.redes .instagram {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.redes .instagram .nombre_red{
    display: flex;
    justify-content: center;
    align-content: center;
}
.redes .instagram .nombre_red h3{
    font-size: 2rem;
    text-decoration: underline ;
    color: black;
    font-weight: bold;    

}
.redes .instagram .icono{
    display: flex;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0 0 20px #c12992);

}
.redes .instagram .icono:hover{
    transform: scale(1.1);
    transition: .8s;
}


.redes .instagram .icono img{
    height: 300px;
}
.redes .youtube {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.redes .youtube .nombre_red{
    display: flex;
    justify-content: center;
    align-content: center;
}
.redes .youtube .nombre_red h3{
    font-size: 2rem;
    text-decoration: underline ;
    color: black;
    font-weight: bold;    

}
.redes .youtube .icono{
    display: flex;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0 0 20px #ff0000);

}
.redes .youtube .icono:hover{
    transform: scale(1.1);
    transition: .8s;
}

.redes .youtube .icono img{
    height: 300px;
}
.redes .whatsapp {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.redes .whatsapp .nombre_red{
    display: flex;
    justify-content: center;
    align-content: center;
}
.redes .whatsapp .nombre_red h3{
    font-size: 2rem;
    text-decoration: underline ;
    color: black;
    font-weight: bold;    
}
.redes .whatsapp .icono{
    display: flex;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0 0 20px #01e676);
}
.redes .whatsapp .icono:hover{
    transform: scale(1.1);
    transition: .8s;
}
.redes .whatsapp .icono img{
    height: 300px;
}

/*version para ordenador*/

@media (min-width:1000px) {
    .redes{
        flex-direction:row ;
        flex-grow: 1;
        align-content:center;
    }
}





/*--------------page_contacto--------------------------*/
.info_contacto{
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
.info_contacto .sub_titulo{
    display: flex ;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.info_contacto .sub_titulo h2{
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 0,306rem;
    text-decoration: underline;
}
.info_contacto .bloque_form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;    
}

.info_contacto .bloque_form section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.info_contacto .bloque_form .nombre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.info_contacto .bloque_form .nombre .dato{
    display: flex;
    justify-content: center;
}
.info_contacto .bloque_form .nombre .input {
    display: flex;
    justify-content: center;
}
.info_contacto .bloque_form .apellido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.info_contacto .bloque_form .apellido .dato{
    display: flex;
    justify-content: center;
}
.info_contacto .bloque_form .apellido .input {
    display: flex;
    justify-content: center;
}
.info_contacto .bloque_form .correo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.info_contacto .bloque_form .correo .dato{
    display: flex;
    justify-content: center;
}
.info_contacto .bloque_form .correo .input {
    display: flex;
    justify-content: center;
}.info_contacto .bloque_form .espacio_razon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.info_contacto .bloque_form .espacio_razon .dato{
    display: flex;
    justify-content: center;
}
.info_contacto .bloque_form .espacio_razon .input {
    display: flex;
    justify-content: center;
    min-height: 100px;
}
.info_contacto .bloque_form .terminos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.info_contacto .bloque_form .terminos .checkbox {
    display: flex;
    justify-content: center;
}
.info_contacto .bloque_form .terminos  {
    display: flex;
    justify-content: center;
}
.info_contacto section h3{
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 0,306rem;
    text-decoration: underline;
    max-width: 500px ;

}
.info_contacto .bloque_form .btn-enviar{
    display: flex;
    justify-content: center;
    align-content: center;
}
.info_contacto .btn-enviar input[type=submit]{
    text-decoration: none;
    width: 100px;
    font-size: 25px;
    font-weight: bolder;
    color: black;
    border-radius: 5px;
    background-color:#84b6f4;
    cursor: pointer;
}

.info_contacto .bloque_form .checkbox{
    display: flex;
    align-items: center;
}
.info_contacto .bloque_form .checkbox h3{
    padding-left: 5px;
    font-size: .8rem;
    font-weight: lighter;
}
.info_contacto .bloque_form .checkbox [type=checkbox]{
    cursor: pointer;
}
