@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "PT Sans", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #b0c2f2 white;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 320px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #84b6f4;
  padding: 20px 20px 0px 20px;
}
header .logo_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .logo_header img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #84b6f4;
}
header .header_menu {
  margin: 10px;
  width: 100%;
}
header .header_menu #check-menu {
  display: none;
}
header .header_menu #check-menu:checked ~ .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
header .header_menu #check-menu:checked ~ .menu_icon #close {
  display: block;
}
header .header_menu #check-menu:checked ~ .menu_icon #open {
  display: none;
}
header .header_menu .menu_icon {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: start;
}
header .header_menu .menu_icon #close {
  display: none;
}
header .header_menu .menu_icon #open {
  display: block;
}
header .header_menu .nav-link {
  width: 100%;
  background-color: #84b6f4;
  position: absolute;
  display: none;
  right: 0;
  z-index: 2;
  padding: 10px;
}
header .header_menu .nav-link ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 0px;
  list-style: none;
}
header .header_menu .nav-link ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #b0c2f2;
}
header .header_menu .nav-link ul li:hover {
  transition: 0.7s;
  background-color: #7b9bf1;
}
header .header_menu .nav-link ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.75rem;
}

@media (min-width: 768px) {
  header .header_menu .menu_icon {
    padding: 0px 15% 0px 15%;
  }
  header .header_menu .nav-link ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-grow: 1;
  }
  header .header_menu .nav-link ul li {
    padding: 5px 5px;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b0c2f2;
  height: auto;
  padding: 20px;
}
main .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}
main .title h2 {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
main .title-hidden {
  display: block;
  position: absolute;
  top: 200px;
  margin: 0 -1px -1px 0;
  z-index: -1;
}

@media (min-width: 768px) {
  main {
    padding: 20px 5% 20px 5%;
  }
}
@media (min-width: 1200px) {
  main {
    padding: 20px 15% 20px 15%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #84b6f4;
}
footer .redes-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .redes-link ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  list-style: none;
  padding: 10px;
}
footer .redes-link ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #b0c2f2;
  border-radius: 5px;
  padding: 5px 7px;
  margin: 10px;
  width: 100%;
}
footer .redes-link ul li:hover {
  transition: 0.7s;
  background-color: #7b9bf1;
  cursor: pointer;
}
footer .redes-link ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1rem;
}
footer .derechos {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}
footer .derechos h4 {
  font-weight: lighter;
  font-size: 0.6rem;
  color: black;
  text-decoration: underline;
}

@media (min-width: 1000px) {
  footer .redes-link ul {
    flex-direction: row;
  }
  footer .redes-link ul li {
    flex-grow: 1;
    padding: 5px;
  }
  footer .derechos {
    justify-content: end;
  }
}
.sec_noticias {
  margin: 0px auto;
}
.sec_noticias--nuevos_avances {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #84b6f4;
  border-radius: 30px;
}
.sec_noticias--nuevos_avances .sub_titulo {
  display: flex;
  justify-content: center;
}
.sec_noticias--nuevos_avances .sub_titulo h3 {
  font-size: 1.2rem;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
.sec_noticias--nuevos_avances--bloque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.sec_noticias--nuevos_avances--bloque .parrafo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.sec_noticias--nuevos_avances--bloque .parrafo p {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: justify;
}
.sec_noticias--nuevos_avances--bloque .imagen {
  display: flex;
  justify-content: center;
}
.sec_noticias--nuevos_avances--bloque .imagen img {
  width: auto;
}
.sec_noticias--ultimo_lanzamiento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #84b6f4;
  border-radius: 30px;
}
.sec_noticias--ultimo_lanzamiento .sub_titulo {
  display: flex;
  justify-content: center;
}
.sec_noticias--ultimo_lanzamiento .sub_titulo h3 {
  font-size: 1.2rem;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
.sec_noticias--ultimo_lanzamiento--bloque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.sec_noticias--ultimo_lanzamiento--bloque .parrafo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.sec_noticias--ultimo_lanzamiento--bloque .parrafo p {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: justify;
}
.sec_noticias--ultimo_lanzamiento--bloque .imagen {
  display: flex;
  justify-content: center;
}
.sec_noticias--ultimo_lanzamiento--bloque .imagen img {
  width: auto;
}

@media (min-width: 768px) {
  .sec_noticias--nuevos_avances--bloque {
    flex-direction: row;
  }
  .sec_noticias--nuevos_avances .parrafo {
    padding-right: 40px;
    padding-left: 25px;
  }
  .sec_noticias--nuevos_avances .imagen {
    padding-right: 40px;
  }
  .sec_noticias--ultimo_lanzamiento--bloque {
    flex-direction: row;
  }
  .sec_noticias--ultimo_lanzamiento .parrafo {
    padding-right: 40px;
    padding-left: 25px;
  }
  .sec_noticias--ultimo_lanzamiento .imagen {
    padding-right: 40px;
  }
}
.informacion_nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.informacion_nosotros .sub_titulo {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  width: 100%;
}
.informacion_nosotros .sub_titulo h3 {
  text-align: center;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}
.informacion_nosotros .texto_nosotros {
  display: flex;
  justify-items: center;
  padding-bottom: 20px;
}
.informacion_nosotros .texto_nosotros p {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: justify;
}

.bloque_productos {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
}
.bloque_productos .producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #7b9bf1;
  width: max-content;
  border-radius: 30px;
}
.bloque_productos .producto:hover {
  transform: scale(1.2);
  transition: 0.8s;
  cursor: pointer;
}
.bloque_productos .producto .prod_nombre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bloque_productos .producto .prod_nombre h3 {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  font-style: italic;
}
.bloque_productos .producto .prod_imagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 100%;
  filter: drop-shadow(0 0 10px white);
}
.bloque_productos .producto .prod_imagen img {
  width: 260px;
  height: 260px;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .bloque_productos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    padding: 10px;
  }
}
@media (min-width: 1000px) {
  .bloque_productos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    padding: 10px;
  }
}
.redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.redes .instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.redes .instagram--nombre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redes .instagram--nombre h3 {
  font-size: 2rem;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
.redes .instagram--icono {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 20px #c12992);
}
.redes .instagram--icono:hover {
  transform: scale(1.1);
  transition: 0.8s;
}
.redes .instagram--icono a img {
  max-width: 250px;
  min-width: 170px;
}
.redes .youtube {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.redes .youtube--nombre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redes .youtube--nombre h3 {
  font-size: 2rem;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
.redes .youtube--icono {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 20px #ff0000);
}
.redes .youtube--icono:hover {
  transform: scale(1.1);
  transition: 0.8s;
}
.redes .youtube--icono a img {
  max-width: 250px;
  min-width: 170px;
}
.redes .whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.redes .whatsapp--nombre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redes .whatsapp--nombre h3 {
  font-size: 2rem;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
.redes .whatsapp--icono {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 20px #01e676);
}
.redes .whatsapp--icono:hover {
  transform: scale(1.1);
  transition: 0.8s;
}
.redes .whatsapp--icono a img {
  max-width: 250px;
  min-width: 170px;
}

@media (min-width: 1000px) {
  .redes {
    flex-direction: row;
    flex-grow: 1;
    align-content: center;
  }
}
.info_contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.info_contacto .bloque_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #7b9bf1;
  border-radius: 30px;
}
.info_contacto .bloque_form .nombre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.info_contacto .bloque_form .nombre .dato {
  display: flex;
  justify-content: center;
}
.info_contacto .bloque_form .nombre .dato h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 0, 306rem;
  text-decoration: underline;
}
.info_contacto .bloque_form .nombre .input {
  display: flex;
  justify-content: center;
}
.info_contacto .bloque_form .apellido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.info_contacto .bloque_form .apellido .dato {
  display: flex;
  justify-content: center;
}
.info_contacto .bloque_form .apellido .dato h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 0, 306rem;
  text-decoration: underline;
}
.info_contacto .bloque_form .apellido .input {
  display: flex;
  justify-content: center;
}
.info_contacto .bloque_form .correo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.info_contacto .bloque_form .correo .dato {
  display: flex;
  justify-content: center;
}
.info_contacto .bloque_form .correo .dato h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 0, 306rem;
  text-decoration: underline;
}
.info_contacto .bloque_form .correo .input {
  display: flex;
  justify-content: center;
}
.info_contacto .bloque_form .espacio_razon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.info_contacto .bloque_form .espacio_razon .dato {
  display: flex;
  justify-content: center;
}
.info_contacto .bloque_form .espacio_razon .dato h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 0, 306rem;
  text-decoration: underline;
}
.info_contacto .bloque_form .espacio_razon .input {
  display: flex;
  justify-content: center;
  min-height: 100px;
}
.info_contacto .bloque_form .terminos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.info_contacto .bloque_form .terminos .checkbox {
  display: flex;
  justify-content: center;
}
.info_contacto .bloque_form .terminos .checkbox h3 {
  padding-left: 5px;
  font-size: 0.8rem;
  font-weight: lighter;
  color: black;
}
.info_contacto .bloque_form .terminos .checkbox [type=checkbox] {
  cursor: pointer;
}
.info_contacto .bloque_form .summit {
  display: flex;
  flex-direction: grow;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.info_contacto .bloque_form .summit .btn-enviar input[type=submit] {
  text-decoration: none;
  width: 100px;
  font-size: 25px;
  font-weight: bolder;
  color: black;
  border-radius: 30px;
  background-color: #84b6f4;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
