.bloque_productos{
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    
    & .producto{
        @include flex-content(column);

        margin: 20px;
        background-color:$color-terciario ;
        width: max-content;    
        border-radius: 30px;

        &:hover{
            transform: scale(1.2);
            transition: .8s ;
            cursor: pointer;
        }
        & .prod_nombre{
            @include flex-content(row);


            & h3{
                font-size: 1rem;
                font-weight: 700;
                text-align: center;
                font-style: italic
            }
        }
        & .prod_imagen{
            @include flex-content(row);

            padding: 10px;
            max-width: 100%;
            filter: drop-shadow(0 0 10px white);

            & img{
                width: 260px;
                height: 260px;
                border-radius: 30px;
            }
        }
    }
}
@media (min-width:768px) {
    .bloque_productos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
        padding: 10px;
        
    }
}
@media (min-width:1000px) {
    .bloque_productos {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        padding: 10px;
        
    }
}