.redes{
    @include flex-content(column);
    margin: 10px;

    & .instagram{
        @include flex-content(column);
        margin: 20px;


        &--nombre{
            @include flex-content(row);


            & h3{
                font-size: 2rem;
                text-decoration: underline ;
                color: $color-font;
                font-weight: bold;   
            }
        }
        &--icono{
            @include flex-content(row);

            filter: drop-shadow(0 0 20px #c12992);

            &:hover{
                transform: scale(1.1);
                transition: .8s;
            }

            & a {
                & img{
                    max-width: 250px;   
                    min-width: 170px;
                }
            }
        }    
    }
    & .youtube{
        margin: 20px;
        @include flex-content(column);


        &--nombre{
            @include flex-content(row);


            & h3{
                font-size: 2rem;
                text-decoration: underline ;
                color: $color-font;
                font-weight: bold;   
            }
        }
        &--icono{
            @include flex-content(row);

            filter: drop-shadow(0 0 20px #ff0000);

            &:hover{
                transform: scale(1.1);
                transition: .8s;
            }

            & a {
                & img{
                    max-width: 250px;   
                    min-width: 170px;
                }
            }
        }    
    }
    & .whatsapp{
        @include flex-content(column);

        margin: 20px;

        &--nombre{
            @include flex-content(row);


            & h3{
                font-size: 2rem;
                text-decoration: underline ;
                color: $color-font;
                font-weight: bold;   
            }
        }
        &--icono{
            @include flex-content(row);

            filter: drop-shadow(0 0 20px #01e676);

            &:hover{
                transform: scale(1.1);
                transition: .8s;
            }

            & a {
                & img{
                    max-width: 250px;   
                    min-width: 170px;
                }
            }
        }    
    }
   
}
@media (min-width:1000px) {
    .redes{
        flex-direction:row ;
        flex-grow: 1;
        align-content:center;
    }
}