
main {
    @include flex-content(column);

    background-color: $color-secundario;
    height: auto;
    padding: 20px;

    & .title{
        @include flex-content(column);
        width: 100%;
        padding-bottom: 20px;

        & h2{
            text-align: center;
            font-size: 3rem;
            text-decoration: underline ;
            color: $color-font;
            font-weight: bold; 
        }
    }
    & .title-hidden{
        display: none;
    }
}
@media (min-width:1000px){
    main{
        padding: 20px 15% 20px 15%;
    }
}